@{
    ViewBag.Title = "Index";
}
@Html.ActionLink("Home", "Index", "Home")

<h2>@ViewBag.JungleBook.Title</h2>
<p>Price: @String.Format("{0:0.00}", ViewBag.JungleBook.Price)</p>
<p><img src="/content/images/@ViewBag.JungleBook.ImageUrl" alt="@ViewBag.JungleBook.Title" /></p>
<p>@ViewBag.JungleBook.Director</p>

<h2>@ViewBag.LionKings.Title</h2>
<p>Price: @String.Format("{0:0.00}", ViewBag.LionKings.Price)</p>
<p><img src="/content/images/@ViewBag.LionKings.ImageUrl" alt="@ViewBag.LionKings.Title" /></p>
<p>@ViewBag.LionKings.Director</p>

<h2>@ViewBag.Frozen.Title</h2>
<p>Price: @String.Format("{0:0.00}", ViewBag.Frozen.Price)</p>
<p><img src="/content/images/@ViewBag.Frozen.ImageUrl" alt="@ViewBag.Frozen.Title" /></p>
<p>@ViewBag.Frozen.Director</p>

